html {
  scroll-behavior: smooth;
  animation-timing-function: ease-in-out;
  font-family: 'Roboto';
  /* font-family: 'Trebuchet MS'; */
}

#navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 120px;
  transition: all 300ms ease; 
}

.navbar-light {
  /* position: fixed; */
  background-color: #4E8A10;
  box-shadow: 0px 2px 7px rgba(123, 123, 123, 0.35);
}

.navbar .navbar-brand img {
  height: 90px;
  padding-left: 95%;
  transition: all 300ms ease;
}

.navbar .navbar-nav {
  font-size: larger;
  padding-right: 10%;
}

.navbar .navbar-nav .nav-item a {
  color: rgb(255, 255, 255);
  padding-right: 1.5em;
  text-decoration: none;
}

/* Navbar option Hover dropdown */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Hover Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.navbar .navbar-nav .nav-item .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d3d3d3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#niseNavbarToggler {
  display: block;
  height: 400px;
  width: 150px;
  background-color: aqua;
  position: fixed;
  top: 80px;
  right: 0px;
  z-index: 99;
}

/* End of navbar-------------------------------------------------------------------------------------------------- */

.row {
  background-color: transparent;
}
.nise-content {
  min-height: 200vh;
  background-image: url("../image/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.nise-content a {
  color: #3d7600;
  font-size: 102%;
}

.nise-content a:hover {
  color: #4E8A10;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(90, 90, 90, 0.15);
}

.content {
  padding-top: 3em;
  padding-bottom: 3em;
}

body h1,h2,h3,h4,h5{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content h1 {
  font-size: 52;
  color: #4E8A10;
  text-shadow: 2px 2px 4px rgba(90, 90, 90, 0.1);
}

.content h2 {
  font-size: 45;
  color: #4E8A10;
  text-shadow: 2px 2px 4px rgba(90, 90, 90, 0.1);
}

.people-photo{
  padding: 2% 2% 1% 5%;
}

.people-photo img{
  border-radius: 3%;
  width: 95%;
  height: auto;
}

.alumni-photo{
  padding: 2% 2% 1% 5%;
}

.alumni-photo img{
  border-radius: 3%;
  width: 95%;
  height: auto;
}

.people-name{
  font-size: large;
  font-weight: 600;
}

.people-description{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5% 0% 0% 0%;
}





.content .img-right img {
  width: 100%;
  height: auto;
}

.content .quote {
  font-family: "Anonymous Pro", monospace;
  font-size: x-large;
}

.hr-line {
  visibility: hidden;
}

.wide-img {
  /* padding-left: 5%;
  padding-right: 5%; */
  width: 100%;
  height: auto;
}

.vl {
  border-left: 1px solid green;
  height: 95%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.container .img-col {
  padding: 1%;
}

.activity-img1 {
  float: left;
  width: 40%;
  height: 250px;
  padding: 1%;
}

.activity-img2 {
  object-fit: cover;
  width: 95%;
  height: 270px;
}

.activity-img3 {
  object-fit: cover;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 200px;
}

.news-img {
  width: 100%;
  height: 250px;
  padding: 1%;
}

.project-container {
  display: block;
  background-color: #ffffff;
  padding: 3%;
  margin-bottom: 3%;
  box-shadow: 5px 10px 12px rgba(90, 90, 90, 0.15);
  border-radius: 2%;
}

.learn-more-btn {
  text-align: center;
  display: block;
  width: 120px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #4dbd33;
  border-radius: 5px;
  padding: 2.5px 2px;
  margin-bottom: 5px;
}

.learn-more-btn:hover{
  background-color: #f3fff0;
}

.project-img {
  object-fit: contain;
  padding: 0.5% 1%;
  width: 100%;
  height: auto;
}

.project-img-caption {
  position: absolute;
  opacity: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  transform: translate(-50%, -50%);
  /* background-color: chocolate; */
}

.project-img:hover + .project-img-caption {
  opacity: 0.65;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity*/
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 5px 10px;
  border: 1px solid #888;
  border-radius: 1%;
  width: 70%; /* Could be more or less, depending on screen size */
  height: auto;
  transition: all 300ms ease;
}

.modal-content img {
  max-height: 75vh;
}

/* The Close Button */
.close {
  color: #aaa;
  /* float: right; */
  top: 5px;
  font-size: 45px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sponsors-logo{
  padding: 1% 5%;
}
.sponsors-logo img{
  width: 100%;
  justify-self: center;
  max-height: 150px;
}

.publication-container{
  display: block;
  background-color: #ffffff;
  padding: 3%;
  margin-bottom: 3%;
}




/* Set gray background color and 100% height */
/* Set black background color, white text and some padding */
footer {
  /* position: absolute; */
  bottom: 0;
  background-color: #518d12;
  box-shadow: 0px -2px 7px rgba(90, 90, 90, 0.35);
  color: white;
  padding: 1%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: rgb(19, 34, 19);
  font-size: 100.5%;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5px;
  border-radius: 50px;
  opacity: 0.5;
}

#topBtn img {
  width: 45px;
  height: 45px;
}

#topBtn:hover {
  opacity: 1;
}

/* ======================================================================================================= */
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 780px) {
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 80px;
  }

  .sidenav {
    height: 0;
    padding: 0px;
  }

  .navbar .navbar-brand img {
    max-height: 60px;
    padding: 0;
  }

  .row.content {
    height: auto;
  }

  .row.content h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
  .row.content p {
    text-align: justify;
  }

  .nise-content .contact-text p {
    text-align: center;
  }

  .nise-content .people-description{
    justify-content: center;
  }
  .nise-content .people-description p{
    text-align: center;
  }

  .people-photo{
    justify-content: center;
  }


  .people-description{
    padding: 1% 1%;
  }

  .nise-content .void-space{
    width: 0;
    padding: 0px;
    margin: 0;    
  }

  .hr-line {
    visibility: visible;
  }

  .content .activity-img {
    width: 100%;
    height: auto;
  }
  .vl {
    visibility: hidden;
  }

  .activity-img1,
  .activity-img2,
  .activity-img3 {
    object-fit: fit;
    padding: 1%;
    width: 100%;
    height: 250px;
  }

  .people-photo{
    padding: 1% 5% 1% 5%;
    right: 0;
    top: 0;
    text-align: center;
  }
  
  .people-photo img{
    border-radius: 5%;
    width: 50%;
    height: auto;
  }
  

  #topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(248, 252, 239);
    cursor: pointer;
    padding: 1.5px;
    border-radius: 50px;
  }

  #topBtn img {
    width: 35px;
    height: 35px;
  }

  .project-img-caption {
    display: none;
  }
}
