/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 120px;
}

.navbar-light {
    background-color: #538C11;
}

.navbar .navbar-brand img{
    max-height: 90px;
    padding-left: 50% ;
}

.navbar .navbar-nav{
    font-size: large;
    padding-right: 10%;
}

.navbar .navbar-nav .nav-item  a{
    color: rgb(255, 255, 255);
    padding-right: 1.5em;
    text-decoration: none;
}

.content{
    padding-top: 3em;
    padding-bottom: 3em;
}

.content h1{
    font-size: 54;
    font-family: Roboto;
    color: #538C11;
}

.content .img-right img{    
    width: 100%;
    height: auto;      
}

.content .quote{
    font-family: 'Anonymous Pro', monospace;
    font-size: x-large;
}

.hr-line{visibility: hidden;}

/* Navbar option Hover dropdown */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Hover Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.navbar .navbar-nav .nav-item .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d3d3d3; font-size: 101%;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.row{background-color: transparent;}
 
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: auto;
    background-image: url("../image/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.row.content h1{text-shadow: 2px 2px 4PX rgba(82, 141, 18, 0.358);} 

.content .help-img{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}







/* Set gray background color and 100% height */
/* Set black background color, white text and some padding */
footer {
    background-color: #518D12;
    color: white;
    padding-bottom: 1%;
}

footer a{
    text-decoration: none ;
    color: white;
}

footer a:hover{color: rgb(19, 34, 19); font-size: 100.5%;}

/* ------------------------------------------------------------------------------------------------------ */
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        height: 80px;
    }
    
    .sidenav {height: 0; padding: 0px;}

    .navbar .navbar-brand img{max-height: 60px; padding: 0; }

    .row.content {height:auto;} 
    .row.content h1, h2, h3, h4, h5{text-align: center;} 
    .row.content p{text-align: center;} 
    .hr-line{visibility: visible;}
}